# Python boilerplate
__pycache__/
*.pyc
*.egg-info/
.env
venv/

# Project Specific Results
results/*
!results/validation
!results/validation/*.csv
local/
*.log

# Data
data/

# Mac OS specific
.DS_Store
